.que-cont {
  border:solid 1px #464646;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
    justify-content: space-between;
    border-radius: 10px;

}

.que-cont p{
  margin-bottom: 0px;
  padding: 8px;
  border-radius: 6px;

}