.marquee {
  width: 100%;
  overflow: hidden;
  background: #0f0f0f;
  padding: 20px 0;
  box-shadow:
    0 0 5px rgba(255, 0, 0, 0.6),
    0 0 15px rgba(255, 0, 0, 0.6),
    0 0 30px rgba(255, 0, 0, 0.6);
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.marquee-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
  color: white;
  font-size: 1rem;
  white-space: nowrap;
}

.marquee-item img {
  height: 150px;
  width: auto;
}

.marquee-item span {
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 900;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.container-hehehe {
  margin-top: 15rem;
  background-color: #00000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 110px;
}

.heading-hehehe {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.heading-hehehe h1 {
  font-family: 'Oswald';
  font-size: 80px;
  font-weight: 900;
  letter-spacing: -0.03em;
  color: red;
}

.heading-hehehe .white {
  color: white;
}

.heading-hehehe .red {
  color: red;
}

.heading-hehehe h1#subheading {
  font-size: 27px;
  font-weight: 450;
  color: #ffffff;
}
